.empty-state-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty-state-container {
  z-index: 9999;
}

.empty-state-content .empty-state-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.empty-state-content .empty-state-component img {
  max-width: 100%;
  max-height: 100%;
}

.empty-state-content .empty-state-component .empty-state-title {
  margin: 1rem;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
}

.empty-state-content .empty-state-component .empty-state-subtitle {
  margin: 1rem;
  font-size: 1.5rem;
  opacity: 0.6;
  font-weight: 500;
}
